Logs/SI4*
Projects/project_list.sidb
/Projects/Base/Base.siwork
/Settings/Backup of layout.xml
/*.si_recovery
/Projects/Base/Base.SearchResults
/Settings/Backup of config_all.xml
/Notes/Personal
/Projects/Base/Backup